.footerContainer{
    height: 65px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
  }
  
  .footerContainer svg{
    width: 25px;
    height: 25px;
  }
  
  .footerContainer svg path{
    fill:#918E9B;
    
  }