@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
 
}
.container{
  width: 317px;
  background-color:#1A1B21;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}

